:root {
    --dark: #292830;
    --main-color: #FF7235;
    --light: #BDBDBD
}

html {
    background-color: var(--light);
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(255, 255, 255);
    width: 1440px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 165px;
    margin-right: 166px;
    font-family: 'Hind Siliguri', sans-serif;
}

/* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO */
.hero {
    margin-bottom: 211px;
}

.hero .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px
}

.hero .navigation .hero-navigation-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 40px;
}


.hero .navigation .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.hero .navigation .nav-bar a {
    padding: 0px 20px;
    text-decoration: none;
    color: var(--dark)
}

.hero .navigation button {
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    height: 48px;
    width: 160px;
    border-radius: 8px;
}

.hero .navigation button:hover {
    background-color: var(--main-color);
    color: white;
    border: 2px solid white;
    height: 48px;
    width: 160px;
    border-radius: 8px;
}

.hero .elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 114px;
}

.hero .elements .text-hero {
    height: 462px;
    width: 540px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.hero .elements .hero-title {
    font-size: 96px;
    line-height: 96px;
    width: 540px;
    height: 288px;
    margin-bottom: 20px;
    filter: drop-shadow(4px 0px 4px rgb(0, 0, 0, 0.25));
    font-style: bolder;
}

.hero .elements .hero-small-text {
    color: var(--light);
    font-size: 24px;
    font-style: normal;
}

.hero .hero-title-button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 548px;
    height: 75px;
}

.hero .hero-title-button button {
    background-color: var(--main-color);
    color: white;
    border: 2px solid white;
    height: 75px;
    width: 225px;
    border-radius: 8px;
    font-size: 24px;
    line-height: 39px;
    padding: 18px 24px auto;
}

.hero .hero-title-button p {
    color: var(--light);
    font-size: 24px;
    font-style: normal;
    margin-left: 24px;
}

.elements .hero-illustration {
    height: 477.9999694824219px;
    width: 538.2012939453125px;
    margin-left: 30px;
}

/* PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT PRODUCT */
.product {
    height: 900px;
    width: 1440px;
}

.product .product-image {
    background-color: var(--main-color);
    height: 712px;
    position: relative;
}

.product .product-image #product-img-1 {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
}

.product .product-image #product-img-2 {
    position: relative;
    z-index: 1;
    top: -633px;
    left: 0;
}

.product .product-brand-img {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    height: 40px;
    margin: 82px 165px 66px 165px;
}

/* FEATURE 1,3 FEATURE 1,3 FEATURE 1,3 FEATURE 1,3 FEATURE 1,3 FEATURE 1,3 */

.feature-1,
.feature-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feature-1 .feature-1-text,
.feature-3 .feature-3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 537px;
    width: 540px;
    margin-left: 165px;
    margin-bottom: 141px;
    margin-top: 142px;
}

.feature-1 .feature-1-text p,
.feature-3 .feature-3-text p {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
    color: var(--light);
    margin: 0px 0px;
}

.feature-1 .feature-1-text h2,
.feature-3 .feature-3-text h2 {

    font-style: Bold;
    font-size: 96px;
    line-height: 96px;
    text-align: Left;
    margin: 0px 0px;
}

.feature-1 .feature-1-text button,
.feature-3 .feature-3-text button {
    display: flex;
    justify-content: start;
    background-color: white;
    border: 0px white solid;
    color: var(--main-color);
    margin-top: 24px;
    font-size: 24px;
    line-height: 24px;
    padding: 0px;
}

.feature-1 .feature-1-text button img,
.feature-3 .feature-3-text button img {
    height: 24px;
    padding-left: 12px;
    ;
}

.feature-1-image,
.feature-3-image {
    display: flex;
    justify-content: center;
    padding-left: 31px;
}

.feature-1-image #feature-1-img,
.feature-3-image #feature-3-img {
    height: 433px;
    width: 539px;
}

/* FEATURE 2 FEATURE 2 FEATURE 2 FEATURE 2 FEATURE 2 FEATURE 2 */
.feature-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 820px;
    align-items: center;
    margin-left: 167px;

}

.feature-2 .feature-2-img #feature-2-img {
    height: 432px;
    width: 540px;
    padding-right: 31px;
}


.feature-2 .feature-2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 537px;
    width: 540px;
}

.feature-2 .feature-2-text p {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
    color: var(--light);
    margin: 0px 0px;
}

.feature-2 .feature-2-text h2 {

    font-style: Bold;
    font-size: 96px;
    line-height: 96px;
    text-align: Left;
    margin: 0px 0px;
}

.feature-2 .feature-2-text button {
    display: flex;
    justify-content: start;
    background-color: white;
    border: 0px white solid;
    color: var(--main-color);
    margin-top: 24px;
    font-size: 24px;
    line-height: 24px;
    padding: 0px;
}

.feature-2 .feature-2-text button img {
    height: 24px;
    padding-left: 12px;
    ;
}

/* product FEATRURES product FEATRURES product FEATRURES product FEATRURES*/
.product-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 1440px;
}

.product-features .product-features-text,
.product-features .product-features-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-features-header {
    margin: 139px 30px 80px 165px;
    height: 192px;
    width: 730px;
    font-size: 96px;
    line-height: 96px;
    text-align: left;
}

.product-features-text p {
    width: 350px;
    height: 156px;
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
    color: var(--light);
    margin-top: 157px;
    margin-right: 165px;
    margin-bottom: 98px;
    line-height: 39px;
}

.product-features-cards {

    height: 350px;
    width: 1110px;
    margin: 80px 165px 139px 165px;

}

.w3-card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 12px;
}

.w3-card-4 h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

.w3-card-4 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22.64px;
    color: var(--light);
}

#card-2-product-features {
    margin: 0px 30px 0px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image-1-product-features,
.card-image-2-product-features,
.card-image-3-product-features {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.card-image-1-product-features {
    background-color: rgba(255, 189, 116, 0.05);
}

.card-image-2-product-features {
    background-color: rgba(226, 89, 139, 0.05);
}

.card-image-3-product-features {
    background-color: rgba(77, 18, 238, 0.05);
}

.product-features-cards .w3-card-4 .card-image-1-product-features img {
    padding: 20px 20px 20px 20px;
}


/* ALWAYS ONLINE */
.always-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 1440px;
}

.always-online .always-online-text .always-online-header {
    width: 1110px;
    height: 72px;
    font-size: 72px;
    font-weight: bold;
    line-height: 72px;
    margin: 124px 165px 80px 165px
}

.always-online .always-online-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1110px;
    margin: 0px 165px 124px 165px;
}

.always-online .always-online-cards .w3-card-4 {
    width: 350px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.always-online .always-online-cards .w3-card-4 .starter-plan-info,
.always-online .always-online-cards .w3-card-4 .silver-plan-info,
.always-online .always-online-cards .w3-card-4 .diamond-plan-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 196px;
    height: 350px;
    padding: 41px 114px 60px 40px;
}


.always-online .always-online-cards #card-2-silver-plan {
    margin: 0px 30px 0px 30px
}

.always-online-cards .card-text-1-starter-plan,
.card-text-2-silver-plan,
.card-text-3-diamond-plan {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.card-image-1-starter-plan,
.card-image-2-silver-plan,
.card-image-3-diamond-plan {
    height: 24px;
    width: 24px;
}

.card-image-1-starter-plan img,
.card-image-2-silver-plan img,
.card-image-3-diamond-plan img {
    height: 24px;
    width: 24px;
}

.card-header-1-starter-plan,
.card-header-2-silver-plan,
.card-header-3-diamond-plan {
    font-size: 32px;
    font-weight: 600;
    line-height: 52px;
    margin-top: 24px;
    margin-bottom: 24px;

}

.check-icon {
    padding: 0;
    margin: 0;
    height: 24px;
    width: 24px;
}

p.list {
    margin: 0;
    text-align: left;
    font-size: 18px;
    line-height: 29px;
    color: var(--dark)
}

p.card-text-price-1-starter-plan,
p.card-text-price-2-silver-plan,
p.card-text-price-3-diamond-plan {
    text-align: start;
    font-size: 24px;
    font-weight: 600;
    line-height: 39px;
    color: var(--dark);
    margin-top: 24px;
    margin-bottom: 0px;
}

.card-text-price-1-starter-plan .card-plan-cost-year,
.card-text-price-2-silver-plan .card-plan-cost-year,
.card-text-price-3-diamond-plan .card-plan-cost-year {
    color: var(--light)
}

.always-online-cards .card-text-smallest-text {
    padding: 0;
    margin: 0;
    text-align: start;
}

.silver-plan-button,
.starter-plan-button,
.diamond-plan-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.always-online-cards .starter-plan-button,
.always-online-cards .diamond-plan-button,
.always-online-cards .silver-plan-button:hover {
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    height: 48px;
    width: 160px;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
}

.always-online-cards .starter-plan-button:hover,
.always-online-cards .diamond-plan-button:hover,
.always-online-cards .silver-plan-button {
    background-color: var(--main-color);
    color: white;
    border: 2px solid white;
    height: 48px;
    width: 160px;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
}

/* TESTIMONIAL */
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 1440px;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 558px;
    width: 1870px;
}

.testimonial-header {
    font-size: 96px;
    line-height: 96px;
    width: 920px;

}

.testimonial-slider {
    display: flex;
    flex-direction: row;
    margin-bottom: 52px;
}

.testimonial-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    border-radius: 12px;
    border: 1px solid #F5F5F5
}

.testimonial-card-content {
    height: 199px;
    width: 293px;
    margin: 26px 29px 25px 28px;
}

.testimonial-text {
    font-size: 18px;
    line-height: 29px;
    text-align: left;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    margin-top: 24px;
}

.author img {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0 12px 0 0;
}

.author p {
    font-weight: bold;
}

.author p .rank {
    font-weight: normal;
    color: (--light)
}

.dots {
    display: flex;
    flex-direction: row;
    width: 92px;
    height: 12px;
}

.dots img {
    height: 12px;
    width: 12px;
    margin-left: 7.5px;
}


/*banner*/
.banner {
    display: flex;
    height: 900px;
    width: 1440px;
    background-color: var(--main-color);
    background-image: url(images/Blob.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 324px;
    width: 920px;

}

.banner-header {

    font-weight: 700;

    width: 920px;
    height: 144px;
    color: white;
    margin-bottom: 24px;
}

.banner-small-text {
    font-size: 36px;
    color: white;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 60px;
    width: 920px;
    height: 36px;
}

.banner-button {
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    height: 48px;
    width: 160px;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
}

.banner-button:hover {
    background-color: var(--main-color);
    color: white;
    border: 2px solid white;
    height: 48px;
    width: 160px;
    border-radius: 8px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
}